#errorMessage {
    color: red;
    padding: 8px;
}
#successMessage{
    color: green;
    padding: 8px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

#loginForm, #forgotPass, #resetPass {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ffbf00;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    color: #333;
}


/* Возврат label на место, если поле ввода пусто */
input:placeholder-shown + label {
    transform: translateY(0);
    font-size: 16px;
    color: #555;
}


input:focus {
    outline: none;
    border-color: #ffbf00; /* Цвет рамки при фокусе */
    box-shadow: 0 0 10px rgba(255, 191, 0, 0.6); /* Тень при фокусе */
}

button {
    background-color: #ffb800;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ffa100;
}


