<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
<!--     <link rel="stylesheet" href="../static/css/auth.css">-->
    <link rel="stylesheet" th:href="@{/css/auth.css}"  />
</head>
<body>

<h2>Login</h2>

<form id="loginForm">
    <label for="username"></label>
    <input type="text" id="username" name="username" required="required" placeholder="Username"/>
    <br/>

    <label for="password"></label>
    <input type="password" id="password" name="password" required="required" placeholder="Password"/>
    <br/>

    <div id="errorMessage"></div>

    <button type="button" onclick="submitForm()">Login</button>
</form>




<script>
    function submitForm() {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;

        var data = {
            username: username,
            password: password
        };

        fetch('/auth', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(errorData => {
                        throw new Error(errorData.message);
                    });
                }

                // Extract token from the response
                return response.json();
            })
            .then(data => {
                // Handle successful response
                console.log(data);

                // Set the token in the Authorization header for subsequent requests
                var token = data.token;
                if (token) {
                    // Set the Authorization header globally for all future fetch requests
                    window.fetch = function (url, init) {
                        init.headers = init.headers || new Headers();
                        init.headers.set('Authorization', 'Bearer ' + token);
                        return fetch(url, init);
                    };

                    // Redirect to /home
                    window.location.href = '/home';
                } else {
                    console.error('Token not found in the response.');
                }
            })
            .catch(error => {
                // Handle error by displaying message on the page
                document.getElementById('errorMessage').innerText = error.message;
                console.error('Error:', error.message);
            });
    }
</script>


</body>
</html>
