<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Доступ запрещен</title>
  <!-- Добавьте вашу стилевую таблицу или подключение к стилям -->
</head>
<body>

<div style="text-align: center; margin-top: 50px;">
  <h1>Доступ запрещен</h1>
  <p>Извините, вы были забанены и не имеете доступа к запрашиваемому ресурсу.</p>
  <!-- Дополнительная информация или инструкции могут быть добавлены сюда -->
</div>

</body>
</html>