<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="../static/css/auth.css">
</head>
<body>

    <h2>Сброс пароля</h2>
    <form th:action="@{/forgotPass/{email}}" method="post" id="forgotPass">
        <label for="username"></label>
        <input type="text" id="username" name="username" required="required" placeholder="Введите ваш email"/>

            <div th:if="${errorMessage}" id="errorMessage">
                <p th:text="${errorMessage}"></p>
            </div>
        <button type="submit" >Сбросить пароль</button>
    </form>




</body>
</html>
