<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Домашняя страница супервизора</title>
    <link th:href="@{/css/Panel.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<nav class="nav-container">
    <h2>Информация о супервизоре</h2>
    <div id="supervisorInfo" class="info">
    </div>
</nav>

<div class="form-container">
    <form th:action="@{/curators/{curatorEmail}/groups}" method="get">
        <div class="input-container">
            <h2>Получить группы куратора</h2>
            <label for="curatorEmailForGroups"></label>
            <input type="text" id="curatorEmailForGroups" name="curatorEmail" required placeholder="Email куратора"/>
            <button type="submit" class="align-right">Получить группы куратора</button>
        </div>
    </form>
</div>


<div class="form-container">
    <form th:action="@{/curators/{curatorEmail}}" method="get">
        <div class="input-container">
            <h2>Получить информацию о кураторе</h2>
            <label for="curatorEmail"></label>
            <input type="text" id="curatorEmail" name="curatorEmail" required placeholder="Email куратора"/>
            <button type="submit" class="align-right">Получить информацию о кураторе</button>
        </div>
    </form>
</div>

<div class="form-container">
    <form th:action="@{/curators}" method="get">
        <div class="input-container">
            <h2>Получить всех кураторов</h2>
            <button type="submit" class="align-right">Получить всех кураторов</button>
        </div>
    </form>
</div>

<div class="form-container">
    <form th:action="@{/curator/{curatorEmail}/groups/meetings}" method="get">
        <div class="input-container">
            <h2>Получить встречи группы куратора</h2>
            <label for="curatorEmailForMeetings"></label>
            <input type="text" id="curatorEmailForMeetings" name="curatorEmail" required placeholder="Email куратора"/>
            <button type="submit" class="align-right">Получить встречи группы куратора</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        // Первый запрос на получение информации о супервизоре
        $.ajax({
            type: 'GET',
            url: '/',
            success: function (data) {
                $('#supervisorInfo').html('<p>' + JSON.stringify(data) + '</p>');
            },
            error: function (error) {
                $('#supervisorInfo').html('Пользователь не является супервизором');
            }
        });

    });
</script>

</body>
</html>